# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# django secret_key
SECRET_KEY = your_secret_key
DEBUG=your_choice


# Настройки для БД postgreSQL
NAME=your_DB_name
USER=your_username
PASSWORD=your_password
HOST=your_host
PORT=your_port

STRIPE_API_KEY=your_api_key

CELERY_BROKER_URL=you_broker_url
CELERY_RESULT_BACKEND=you_result_url

# Настройки для яндекс-почты
EMAIL_HOST=your_host
EMAIL_PORT=your_port
EMAIL_HOST_USER=your_host_user
EMAIL_HOST_PASSWORD=your_password
EMAIL_USE_TLS=your_amount
EMAIL_USE_SSL=your_amount